@page
@model Site.Areas.Admin.Pages.PersonModel
@{

}


<!--begin::Row-->
<div class="row">
    <div class="col-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">لیست طرف حساب ها</h3>
                </div>
                <div class="card-toolbar">
                    <partial name="_btnAdd" model='"btnAdd"' />
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <table id="tblPerson" class="table table-light">
                        <thead>
                            <tr>
                                <th>کد</th>
                                <th>عنوان</th>
                                <th>کاربر ثبت کننده</th>
                                <th>نوع مالکیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->
<div class="modal fade" id="personModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personModelTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form" id="frmPerson" method="post">
                        <input asp-for="Person.Id" type="hidden" />
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">نوع مالکیت</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <select asp-for="Person.OwnerShipTypeId" class="form-control">
                                            @foreach (var item in Model.ownerShipType)
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">کد</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.Code" class="form-control JustDigit form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12" id="Title">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">عنوان</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.Title" class="form-control form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12" id="FirstName">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">نام</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.FirstName" class="form-control form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12" id="LastName">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">نام خانوادگی</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.LastName" class="form-control form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">کد تجاری</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.EconomicCode" class="form-control JustDigit form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">تاریخ تولد</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.BirthDate" class="form-control JustDigit form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">کد ملی</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.NationalityCode" class="form-control JustDigit form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">کد ثبت</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.RegisterationCode" class="form-control JustDigit form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">توضیحات</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <textarea asp-for="Person.Description" class="form-control form-control-lg form-control-solid"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-alert">شناسه</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="text" asp-for="Person.Reference" class="form-control form-control-lg form-control-solid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">بستن</button>
                <partial name="_btn" model='"btnAddPerson"' />
                <partial name="_btn" model='"btnEditPerson"' />
            </div>
        </div>
    </div>
</div>

<!--end::Row-->
@section Script {
    <link href="~/lib/persian-datepicker/css/persian-datepicker.css" rel="stylesheet" />
    <script src="~/lib/persian-datepicker/js/persian-date.js"></script>
    <script src="~/lib/persian-datepicker/js/persian-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            ToPersianDatepicker('#Person_BirthDate', 'YYYY/MM/DD')
            ToSelect2("#Person_OwnerShipTypeId")
            initDataTables();
            $('#btnAddPerson').click(function () {
                SendFormToServer("#frmPerson", "@Url.Page("Person", "Add")", "#personModel", true)
            })
            $('#btnEditPerson').click(function () {
                SendFormToServer("#frmPerson", "@Url.Page("Person", "Edit")", "#personModel", true)
            })
            $('#btnAdd').click(function () {
                DestroySelect2("#Person_OwnerShipTypeId");
                ResetForm("#frmPerson");
                ChangeOwnerShipType();
                $("#Person_Id").val(0).trigger("change");
                $("#personModelTitle").text("افزودن شخص جدید");
                ToSelect2("#Person_OwnerShipTypeId");
                GetMaxCode();
                $("#btnEditPerson").hide();
                $("#btnAddPerson").show();
                ShowModal("#personModel");
            })
            $('#tblPerson').on('click', 'a.remove', function (e) {
                let Id = GetRowId($(this))
                AlertConfirm("هشدار","آیا از حذف این مورد مطمئن هستید؟!",function (){
                    GetFromServer('@Url.Page("Person", "Delete")', { id: Id }, function (result) {
                        if (result.isSuccess) {
                            ToastMessageSuccess(result.message);
                        } else {
                            ToastMessageError(result.message);
                        }
                    })
                },null)
            })
            $('#tblPerson').on('click', 'a.edit', function (e) {
                e.preventDefault();
                let id = GetRowId($(this))
                GetFromServer('@Url.Page("Person", "ById")', { id: id }, function (result) {
                    debugger;
                    DestroySelect2("#Person_OwnerShipTypeId");
                    ResetForm("#frmPerson");
                    $("#personModelTitle").text("ویرایش شخص " + result.title);
                    $("#Person_OwnerShipTypeId").val(result.ownerShipTypeId);
                    ChangeOwnerShipType();
                    $("#Person_FirstName").val(result.firstName);
                    $("#Person_LastName").val(result.lastName);
                    $("#Person_Title").val(result.title);
                    $("#Person_EconomicCode").val(result.economicCode);
                    $("#Person_BirthDate").val(result.birthDate);
                    $("#Person_NationalityCode").val(result.nationalityCode);
                    $("#Person_RegisterationCode").val(result.registerationCode);
                    $("#Person_Description").val(result.description);
                    $("#Person_Reference").val(result.reference);
                    $("#Person_Code").val(result.code);
                    $("#Person_Id").val(result.id);
                    ToSelect2("#Person_OwnerShipTypeId");
                    $("#btnEditPerson").show();
                    $("#btnAddPerson").hide();
                    ShowModal("#personModel");
                }, true)
            });
            $("#Person_OwnerShipTypeId").change(function () {
                ChangeOwnerShipType();
            })
        })
        function ChangeOwnerShipType() {
            let ownerShipType = $("#Person_OwnerShipTypeId").val();
            $("#Title").hide();
            $("#FirstName").hide();
            $("#LastName").hide();
            $("#Person_Title").val(null).trigger("change");
            $("#Person_FirstName").val(null).trigger("change");
            $("#Person_LastName").val(null).trigger("change");
            switch (parseInt(ownerShipType)) {
                case 1:
                    $("#FirstName").show();
                    $("#LastName").show();
                    break;
                case 2:
                    $("#Title").show();
                    break;
                default:
                    $("#FirstName").show();
                    $("#LastName").show();
                    break;
            }
        }
        function GetMaxCode() {
            GetFromServer('@Url.Page("Person", "MaxCode")', {}, function (result) {
                $("#Person_Code").val(result).trigger("change");
            }, true)
        }

        function initDataTables() {
            GetFromServer('@Url.Page("Person", "List")', {}, function (result) {
                DataTableDestroy("#tblPerson");
                $("#tblPerson").DataTable({
                    data: result,
                    language: {
                        url: "/lib/datatables/Persian.json"
                    },
                    responsive: true,
                    select: true,
                    order: [[0, "desc"]],
                    columns: [
                        {
                            data: "code",
                            width: "20%",
                            render: function (data, type, row, meta) {
                                return "<p class='ltr text-left'>" + data + "</p>";
                            }
                        },
                        {
                            sortable: true,
                            data: "title",
                            width: "30%",

                            render: function (data, type, row, meta) {
                                return SubString(data, 0, 80);
                            }
                        },
                        {
                            sortable: true,
                            data: "userTitle",
                            width: "30%",

                            render: function (data, type, row, meta) {
                                return SubString(data, 0, 80);
                            }
                        },
                        {
                            sortable: true,
                            data: "ownerShipTypeTitle",
                            width: "30%",

                            render: function (data, type, row, meta) {
                                return SubString(data, 0, 80);
                            }
                        },
                        {
                            sortable: false,
                            data: "id",
                            width: "15%",

                            render: function (data, type, row, meta) {
                                var html = '';
                                html += '<a data="' + data + '" class=" btn btn-sm btn-clean btn-icon cursor-pointer edit" title="ویرایش"><i class="la la-edit"></i></a>';
                                html += '<a data="' + data + '" class="btn btn-sm btn-clean btn-icon cursor-pointer remove" title="حذف"><i class="la la-trash"></i></a>';
                                return html
                            }
                        }

                    ]
                });
            }, true)

        }
    </script>

}